* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a1424;
}

body {
    font-family: sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

h2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #9fef00;
}

.contendor {
    max-width: 90%;
    width: 400px;
    margin: 80px auto;
}

.formulario input[type='text'] {
    padding: 20px;
    border: none;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.formulario input::-webkit-input-placeholder {
    text-align: center;
}


.formulario .btn {
    width: 100%;
    border: none;
    background-color: #a4b1cd;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;


}

.formulario .btn:hover {
    background-color: #9fef00;
    color: #0a1424;
}

.contendorQR {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    color: #9fef00;
}